* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
body {
  margin:0;
  font-family:Arial;
  background:#000;
  color:white;
}

header {
  display:flex;
  justify-content:space-between;
  padding:15px 30px;
  background:black;
  position:fixed;
  width:100%;
  z-index:1000;
}

.logo { color:orange; font-weight:bold; }

.menu { font-size:24px; cursor:pointer; }

.mobile-menu {
  position:fixed;
  right:-100%;
  top:0;
  width:70%;
  height:100%;
  background:black;
  padding:20px;
  transition:0.3s;
}

.mobile-menu.active { right:0; }

.hero {
  height:90vh;
  background:url("images/gym1.jpg") center/cover;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.hero span { color:orange; }

section { padding:80px 20px; }

.about, .inquiry { background:#111; }

.plans { background:#0d0d0d; }

.plan-card {
  background:#222;
  padding:20px;
  margin:10px;
}

.grid {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.grid img {
  width:100%;
  height:220px;
  object-fit:cover;
}

input, select, button {
  display:block;
  margin:10px auto;
  padding:10px;
  width:250px;
}

button {
  background:orange;
  border:none;
  cursor:pointer;
}

.whatsapp {
  position:fixed;
  bottom:20px;
  right:20px;
  background:green;
  padding:15px;
  border-radius:50%;
}
